body {
	font-family:roboto,sans-serif;
	color:#545e6c;
	background:#f5f5f5;
	font-size:14px;
	padding:30px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:700;
}

a {
	color:#438eff;
}

a:hover {
	text-decoration:underline;
	color:#24292e;
}

a:focus {
	text-decoration:none;
}

p {
	line-height:1.5;
}

.wrapper {
	background:#24292e;
	max-width:1000px;
	margin:0 auto;
	position:relative;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.1);
	box-shadow:0 2px 4px rgba(0,0,0,.1);
}

.sidebar-wrapper {
	background:#24292e;
	position:absolute;
	left:0;
	width:280px;
	height:100%;
	min-height:800px;
	color:#fff;
}

.sidebar-wrapper a {
	color:#fff;
}

.sidebar-wrapper .profile-container {
	padding:30px;
	background:rgba(0,0,0,.2);
	text-align:center;
	color:#fff;
}

.sidebar-wrapper .name {
	font-size:32px;
	font-weight:900;
	margin-top:0;
	margin-bottom:10px;
}

.sidebar-wrapper .tagline {
	color:rgba(255,255,255,.6);
	font-size:16px;
	font-weight:400;
	margin-top:0;
	margin-bottom:0;
}

.sidebar-wrapper .profile {
	margin-bottom:15px;
}

.sidebar-wrapper .avatar {
	max-width:100px;
	margin-bottom:15px;
	border:0 solid #fff;
	border-radius:100%;
	box-shadow:0 1px 1px rgba(0,0,0,.1);
}

.sidebar-wrapper .contact-list .fas,.sidebar-wrapper .contact-list .fab {
	margin-right:5px;
	font-size:18px;
	vertical-align:middle;
}

.sidebar-wrapper .contact-list li {
	margin-bottom:15px;
}

.sidebar-wrapper .contact-list li:last-child {
	margin-bottom:0;
}

.sidebar-wrapper .container-block {
	padding:30px;
}

.sidebar-wrapper .container-block-title {
	text-transform:uppercase;
	font-size:16px;
	font-weight:700;
	margin-top:0;
	margin-bottom:15px;
}
.sidebar-wrapper .degree {
	font-size:14px;
	margin-top:0;
	margin-bottom:5px;
}

.sidebar-wrapper .education-container .item {
	margin-bottom:15px;
}

.sidebar-wrapper .education-container .item:last-child {
	margin-bottom:0;
}

.sidebar-wrapper .education-container .meta {
	color:rgba(255,255,255,.6);
	font-weight:500;
	margin-bottom:0;
	margin-top:0;
}

.sidebar-wrapper .education-container .time {
	color:rgba(255,255,255,.6);
	font-weight:500;
	margin-bottom:0;
}

.sidebar-wrapper .languages-container .lang-desc {
	color:rgba(255,255,255,.6);
}

.sidebar-wrapper .languages-list {
	margin-bottom:0;
}

.sidebar-wrapper .languages-list li {
	margin-bottom:10px;
}

.sidebar-wrapper .languages-list li:last-child {
	margin-bottom:0;
}

.main-wrapper {
	padding-left: 280px;
	background:#fff;
	margin-left: 280px;
	padding:60px;
}

.main-wrapper .section-title {
	text-transform:uppercase;
	font-size:20px;
	font-weight:500;
	color:#24292e;
	position:relative;
	margin-top:0;
	margin-bottom:20px;
}

.main-wrapper .section {
	margin-bottom:60px;
}

.main-wrapper .experiences-section .item,.main-wrapper .educations-section .item {
	margin-bottom:30px;
}

.main-wrapper .upper-row {
	position:relative;
	overflow:hidden;
	margin-bottom:2px;
}

.main-wrapper .job-title,.main-wrapper .degree {
	color:#3f4650;
	font-size:16px;
	margin-top:0;
	margin-bottom:0;
	font-weight:500
}

.main-wrapper .time {
	position:absolute;
	right:0;
	top:0;
	color:#97aac3;
}

.main-wrapper .company,.main-wrapper .university {
	margin-bottom:10px;
	color:#97aac3;
}

.main-wrapper .project-title {
	font-size:16px;
	font-weight:400;
	margin-top:0;
	margin-bottom:5px;
}

.main-wrapper .projects-section .intro {
	margin-bottom:30px;
}

.main-wrapper .projects-section .item {
	margin-bottom:15px;
}

.skillset .item {
	margin-bottom:15px;
	overflow:hidden;
}

.skillset .level-title {
	font-size:14px;
	margin-top:0;
	margin-bottom:12px;
}

.skillset .level-bar {
	height:12px;
	background:#f5f5f5;
}

.skillset .level-bar-inner {
	height:12px;
	background:#438eff;
}

@media(max-width:767px) {
	body{
		padding:0;
	}
	.sidebar-wrapper{
		position:static;
		width:inherit;
	}
	.main-wrapper{
		padding:30px;
		margin-left: 0px;
	}
	.main-wrapper .time {
		position:static;
		display:block;
		margin-top:5px;
	}
	.main-wrapper .upper-row{
		margin-bottom:0;
	}
}

@media(min-width:992px) {
	.skillset .level-title{
		display:inline-block;
		float:left;
		width:30%;
		margin-bottom:0;
	}
	.skillset .level-bar{
		display:inline-block;
		width:70%;
		float:left;
		position:relative;
		top:1px;
	}
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.language {
	align-items: center;
	margin-top: 20;
}

.align {
	vertical-align: -5;
}